footer {
  background-color: #fff !important;
  padding: 0 !important;
  position: relative;
}
.col-1 {
  position: relative;
  background: url('../assets/bg3-1.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 320px;
  background-position: center center;
  z-index: 1000 !important;
}
.col-1 .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  height: 100%;
  z-index: 1000 !important;
}
.col-1 .container .circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: #ddb600;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.col-1 .container button {
  background-color: rgb(19, 100, 101);
  height: 60px;
  padding: 0 3rem;
  border: none;
  outline: none;
  z-index: 1000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.col-1 .container button:hover {
  background-color: rgba(17, 32, 32, 0.9);
}
.col-1 .container .img {
  position: absolute;
  width: 150px;
  height: 150px;
}
.col-1 .container .img-1 {
  left: -10px;
  top: -10px;
}
.col-1 .container .img-2 {
  left: 65%;
}

/* ---- */
.col-2 {
  background: url('../assets/footer.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center center;
  position: absolute;
  bottom: 0;
  padding-top: 10rem;
  top: 80%;
  height: fit-content;
}
.col-2 .container .icon-container {
  display: flex;
  gap: 20px;
}
.col-2 .container .icon-container i {
  font-size: 20px;
  color: #fff;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.col-2 .container .icon-container i:hover {
  background: #fff;
  color: rgb(19, 100, 101);
}
.col-2 .container .list-container * {
  cursor: context-menu;
  color: #fff;
}
.col-2 .container .list-container .text {
  display: block;
  margin-block: 15px;
  color: rgba(255, 255, 255, 0.63);
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .col-1 .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  .col-1 .container .img-1 {
    display: none;
  }
  .col-1 .container .circle {
    display: none;
  }
  .col-2 .container {
    text-align: center;
  }
  .col-2 .container .icon-container{
    justify-content: center;
    margin-bottom: 4rem;
  }
}
